# 자료구조 연습 문제
---

1. 다음 노래 제목을 play_list라는 이름의 리스트에 저장하라. 
> '밤편지','가을아침','비밀정원'

2. 위에서 생성한 play_list에 '나만 봄'을 추가하라.

3. play_list의 '가을아침'과 '비밀정원' 사이에 '노래방에서'를 끼워 넣어 보시오.

4. 다음 리스트에서 최댓값과 최솟값을 출력하라. (힌트: min(), max() 함수 사용)
> nums = [1, 2, 3, 4, 5, 6, 7]

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7]
# TODO

5. 위 nums 리스트의 합을 출력하라.

6. 다음 리스트에 저장된 데이터의 개수를 구하라.
> food = ["피자", "김밥", "만두", "김치만두", "쫄면", "쏘세지", "라면", "팥빙수", "김치전"]

In [2]:
food = ["피자", "김밥", "만두", "김치만두", "쫄면", "쏘세지", "라면", "팥빙수", "김치전"]
# TODO

7. price 변수에는 날짜와 종가 정보가 저장돼 있다. 날짜 정보를 제외하고 가격 정보만을 출력하라.(힌트 : 슬라이싱)

>price = ['20180728', 100, 130, 140, 150, 160, 170]

8. 슬라이싱을 사용해서 홀수만 출력하라.

>nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

9. 다음 코드를 똑같이 실행해 보고 결과가 왜 그렇게 나오는지 확인하시오.

>interest_0 = ['삼성전자', 'LG전자', 'SK Hynix']  
>interest_1 = interest_0  
>interest_1[0] = 'Naver'  
>print(interest_0)

10. my_var 이름의 비어있는 튜플을 만들라.

11. 'apple'이라는 element하나만 가지는 튜플을 생성하시오.

12. 다음 리스트를 튜플로 변경하라.

> interest = ['삼성전자', 'LG전자', 'SK Hynix']

13. 다음의 명령어를 똑같이 실행해 보고 어떤 결과가 나오는지 확인하고 이유를 생각해 보시오.
>my_tuple = (1, 2, 3)  
>a, b, c = my_tuple  
>print(a + b + c)

14. 다음과 같이 중복값을 포함하고 있는 리스트에서 중복값을 제거해 보시오. (set 활용)
> a = [1,2,3,3,3,4,4,4,5]

15. 다음 과일과 가격을 fruits라는 이름의 딕셔너리로 구성하라.

이름|가격
--|--
사과|1000
바나나|1200
딸기|1800

16. fruits 딕셔너리에 아래 가격정보를 추가하라.

이름|희망 가격
--|--
키위|1200
망고|1500

17. fruits 딕셔너리를 사용하여 키위 가격을 출력하라.

>실행 예:  
>키위 가격: 1200

18. 딕셔너리에서 키위의 가격을 1300으로 수정하시오.

19. 딕셔너리에서 키위를 삭제하시오.

20. 딕셔너리에서 key 값으로만 구성된 리스트를 생성하라.

21. 딕셔너리에서 values 값으로만 구성된 리스트를 생성하라.